{% extends 'dashboard_base.html' %}

{% block page_title %}Your Dashboard{% endblock %}

{% block content %}
<ul>
    {% for workout in all_workouts %}
        {% if workout.fitness_goal == request.user.profile.fitness_goal %}
        <li>
            <a href="{% url 'workout' workout.id %}">{{ workout.name }}</a>
            - {{ workout.description }}
        </li>
        {% endif %}
    {% endfor %}
</ul>
<button>
    <a href="{% url 'create_workout' %}">Create Your Own Workout</a>
</button>
{% endblock %}